rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // User profile: only the user themselves
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Schools, Classes, Students, etc.
    match /{collectionName}/{docId} {
      allow create: if request.auth != null && request.resource.data.ownerId == request.auth.uid;
      allow read, update, delete: if request.auth != null && (resource.data.ownerId == request.auth.uid);
    }
  }
}
